@media only screen and (min-width: 320px) and (max-width: 620px) {

	.bulletin-board .m-c:before {
	    background:none !important;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {

	.container-12 .region-content,
	.container-12 .region-sidebar-second,
	.container-12 .region-sidebar-third.grid-3 {
		width:100%;
	}
	.container-12 .region-sidebar-third.grid-3 {
		width:95%;
	}
	.bulletin-board .m-c h2 {
		background:url(../../i/icons/icon-arrow-after.png) no-repeat 77% 62% !important;
	}
}